<div class="modal-header">
    <h4 class="modal-title">Edit Book</h4>
</div>
<form name="form.editForm" ng-submit="submit()" novalidate>
    <div class="modal-body">
        <!-- TITLE -->
        <div class="form-group">
            <label>Title</label>
            <input type="text" name="title" class="form-control" ng-model="book.title" required>
            <p ng-show="form.editForm.title.$invalid && !form.editForm.title.$pristine" class="help-block">A title is required.</p>
        </div>

        <!-- AUTHOR -->
        <div class="form-group">
            <label>Author</label>
            <input type="text" name="author" class="form-control" ng-model="book.author" ng-minlength="1" required>
            <p ng-show="form.editForm.author.$invalid" class="help-block">Author name is required.</p>
        </div>

        <!-- DATE -->
        <div class="form-group">
            <label>Date</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <input type="date" class="form-control" ng-model="book.date" ng-pattern="/^((\d{4})-(\d{2})-(\d{2})|(\d{2})\/(\d{2})\/(\d{4}))$/">
            </div>
            <p ng-show="form.editForm.$error.pattern" class="help-block">Not a valid date</span>
            <p ng-show="form.editForm.$error.date" class="help-block">Not a valid date</span>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-disabled="form.editForm.$invalid">OK</button>
        <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>